/* .App {
  text-align: center;
} */

.App-header {
  background-color: beige;
  min-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}